.DS_Store
Manifest.toml
Untitled.ipynb
.ipynb_checkpoints
*.mp4
pages/_build
_build
profile.pb.gz
exports/main.bib
exports/SMiJ-chapter1.aux
exports/SMiJ-chapter1.tex
exports/SMiJ-chapter2.aux
exports/SMiJ-chapter2.tex
exports/SMiJ-chapter3.aux
exports/SMiJ-chapter3.tex
exports/SMiJ-chapter4.aux
exports/SMiJ-chapter4.tex
exports/SMiJ-chapter5.aux
exports/SMiJ-chapter5.tex
exports/SMiJ-chapter6.aux
exports/SMiJ-chapter6.tex
exports/SMiJ-chapter7.aux
exports/SMiJ-chapter7.tex
exports/SMiJ-chapter8.aux
exports/SMiJ-chapter8.tex
exports/SMiJ-chapter9.aux
exports/SMiJ-chapter9.tex
exports/SMiJ-chapter10.aux
exports/SMiJ-chapter10.tex
exports/SMiJ-chapter11.aux
exports/SMiJ-chapter11.tex
exports/SMiJ-chapter12.aux
exports/SMiJ-chapter12.tex
exports/SMiJ-chapter13.aux
exports/SMiJ-chapter13.tex
exports/SMiJ-chapter14.aux
exports/SMiJ-chapter14.tex
exports/SMiJ-glossary.aux
exports/SMiJ-glossary.tex
exports/SMiJ.acn
exports/SMiJ.aux
exports/SMiJ.glo
exports/SMiJ.ist
exports/SMiJ.log
exports/SMiJ.out
exports/SMiJ.pdf
exports/SMiJ.tex
exports/SMiJ.toc
